.DS_Store
__pycache__
node_modules
BridgeEmulator/config*
./exports
Lights/*
Devices/*
Sensors/*

# Virtual env stuff
/pyvenv.cfg
/bin/
/lib/
/share/

# Ignore userdata
BridgeEmulator/export/
BridgeEmulator/cert.pem
/BridgeEmulator/flaskUI/assets
/config*
*.log*
BridgeEmulator/flaskUI/templates/index.html
